In [1]:
import pandas as pd
import numpy as np
csv_path = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(csv_path)

In [2]:
# 1. Player Count
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

In [3]:
# 2. Purchasing Analysis (Total)
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

summary_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items], "Average Price": [average_price], "Number of Purchases": [number_of_purchases], "Total Revenue": [total_revenue]})

summary_df.style.format({"Average Price": "${:,.2f}", "Total Revenue": "${:,.2f}"})

In [4]:
# 3. Gender Demographics
gender_data = purchase_data.groupby("Gender")
total_count_gender = gender_data.nunique()["SN"]
percentage_of_players = total_count_gender / total_players * 100

gender_demographics = pd.DataFrame({"Total Count": total_count_gender, "Percentage of Players": percentage_of_players})
gender_demographics.index.name = None

gender_data = purchase_data.groupby("Gender")
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

In [5]:
# 4. Purchasing Analysis (Gender)
purchase_count = gender_data["Purchase ID"].count()
avg_purchase_price = gender_data["Price"].mean()
total_purchase_value = gender_data["Price"].sum()
avg_purchase_per_person = total_purchase_value / total_count_gender

gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value": total_purchase_value,
                                    "Avg Purchase per Person": avg_purchase_per_person})

gender_demographics.index.name = "Gender"
gender_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Purchase per Person":"${:,.2f}"})

In [6]:
# 5. Age Demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data

age_grouped = purchase_data.groupby("Age Group")
total_count_age = age_grouped["SN"].nunique()
percentage_by_age = (total_count_age / total_players) * 100

age_demographics = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_by_age})
age_demographics.index.name = None
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

In [7]:
# 6. Purchasing Analysis (age)
purchase_count_age = age_grouped["Purchase ID"].count()
avg_purchase_price_age = age_grouped["Price"].mean()
total_purchase_value_age = age_grouped["Price"].sum()
avg_total_purchase_per_person_age = total_purchase_value_age / total_count_age

age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value_age,
                                 "Average Total Purchase per Person": avg_total_purchase_per_person_age})

age_demographics.index.name = "Age Ranges"
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Total Purchase per Person":"${:,.2f}"})

In [8]:
# 7. Top Spenders
spender_data = purchase_data.groupby("SN")
purchase_count_spender = spender_data["Purchase ID"].count()
avg_purchase_price_spender = spender_data["Price"].mean()
total_purchase_spender = spender_data["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value": total_purchase_spender})

summary_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
summary_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [9]:
# 8. Most Popular Items
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_data = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_data["Price"].count()
total_purchase_value_item = (item_data["Price"].sum()) 
item_price = total_purchase_value_item / purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value": total_purchase_value_item})

summary_popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
summary_popular_items.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

In [10]:
# 9. Most Profitable Items
summary_popular_items = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
summary_popular_items.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})